@import "~bootstrap/scss/bootstrap";

.card-body {
  max-width: 50vw;
  margin-left: 1em;
  border-radius: 30px;
  box-shadow: 0px 0px 3px;
  background-color: #0dcaf0;
}

.btn-indietro {
  margin-left: 1em;
  border-radius: 10px;
  box-shadow: 0px 0px 3px;
}

h1{
  margin-left: .5em;

}

.totale{
  margin-left: .8em;
  margin-bottom: .5em;
}
